.HeroSection {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.TopSection {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.TopSection > button {
  border-radius: 5px;
  padding: 10px 40px;
  font-size: 20px;
  transition: 0.3s all;
}
.TopSection > button:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
  transform: scale(1);
}

.MainSection {
  color: white;
  display: grid;
  grid-template-columns: 20% auto;
  padding: 50px;
}

.MainSection > * {
  margin-bottom: 20px;
}
.MainSection > div:first-child {
  padding: 20px;
  font-size: 20px;
}

.MainSection > div:first-child > * {
  margin-bottom: 10px;
}
.font1 {
  font-size: 3.4rem;
}

.MainSection > div:last-child {
  width: 100%;
  max-width: 900px;
}
.MainSection > div:last-child > * {
  margin-bottom: 15px;
}
.font12 {
  background: linear-gradient(90deg, #f87516 0%, #5e11ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  display: inline-block;
  font-size: 4rem;
}
.font2 {
  background: linear-gradient(90deg, #f87516 0%, #5e11ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  display: inline-block;
  text-align: start;
}

.body {
  font-size: 18px;
  margin-top: 30px;
  color: rgb(215, 215, 215);
  line-height: 30px;
}
@media screen and (max-width: 980px) {
  .TopSection > button {
    display: none;
  }
  .MainSection {
    display: block;
    text-align: center;
  }
  .MainSection > div:first-child {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .font1 {
    font-size: 2rem;
  }
  .font12 {
    font-size: 3rem;
  }

  .body {
    font-size: 14px;
    color: rgb(215, 215, 215);
  }
}
