.MiddleSection {
  color: white;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}
.rating > card {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;

  gap: 10px;
}
.rating > card > div > * {
  margin-bottom: 5px;
}

.wand {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 60px;
  margin: 50px;
}

.font1 {
  font-size: 2.3rem;
  line-height: 60px;
  margin-bottom: 40px;
  text-align: center;
}
.body {
  font-size: 18px;
  margin-top: 30px;
  color: rgb(215, 215, 215);
  line-height: 30px;
}
.wand > div:first-child > * {
  margin-bottom: 20px;
}
.btn {
  padding: 20px 35px;
  background: linear-gradient(270deg, #f87516 0%, #5e11ff 100%);
  font-size: 20px;
  border-radius: 10px;
  color: white;
  border: none;
}

.btn > a {
  color: white;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1);
}
.wand > div:last-child {
  display: flex;
  flex-direction: row-reverse;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  max-width: 500px;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  background: linear-gradient(
    180deg,
    rgba(28, 20, 36, 1) 80%,
    rgba(74, 68, 80, 1) 99%
  );
}

.img {
  max-width: 450px;
  width: 100%;
  height: auto;
  transition: width 0.3s ease;
  margin-top: 30px;
}

.section2 {
  background: linear-gradient(
    180deg,
    rgba(28, 20, 36, 1) 80%,
    rgba(74, 68, 80, 1) 99%
  );
  box-sizing: border-box;
  padding: 20px;
  margin: 50px;
  border-radius: 10px;
  text-align: center;
}
.icons {
  max-width: 441px;
  width: 100%;
  height: auto;
  margin: 20px auto;
}
.cardsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.section3 > div:first-child {
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .wand {
    display: block;
    padding: 10px;
    margin: 10px;
  }

  .wand > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .body {
    font-size: 14px;
    color: rgb(215, 215, 215);
    line-height: 20px;
  }
  .section {
    display: block;
  }

  .card {
    width: calc(100% - 40px);
    margin: 10px auto;
  }

  .font1 {
    font-size: 2rem;
    line-height: 40px;
  }
  .cardsContainer > .card > h1 {
    font-size: 1.5rem;
  }
}
