.footer {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
  background: linear-gradient(
    90deg,
    #ed6e26,
    #d45e4c,
    #b74b78,
    #9e3a9f,
    #741fdf
  );
  color: rgb(231, 227, 227);
}

.footer > div {
  display: flex;
  gap: 20px;
}
